@model SaludPublica.Models.Provincia

@{
    ViewData["Title"] = "Eliminar Provincia";
}

<h2>Eliminar</h2>

<h3>Estas seguro que quieres eliminar este registro?</h3>
<div>
    <h4>Provincia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pais)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pais.Nombre)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProvinciaID" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary">Cancelar</a>
    </form>
</div>
